

.containerAgendamentos{
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.calendario{
    border: black 1px solid;
    flex: 80%;
    display: flex;
}

.salasAgendamentos{
    /* border: 1px solid black; */
    width: 200px;
}

.salasAgendamentos div{
    width: 100%;
}

.moduloCalendario{
    height: 70px;
    border: 1px solid black;
}

.salaAgendamentos{
    background-color: #D86700;
    color: white;
    display: flex;
    font-size: 19px;
    /* text-align: center; */
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
}

.diaAgendamentos{
    flex: 1;
}

.moduloAgendamentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px
}

.dataAgendamentos{
    display: flex;
    flex-direction: column;
    background-color: #004A8D;
    color: white;
}

.dataAgendamentos div{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* border: 1px solid white; */
    flex: 1;
}







.botoesAgendamentos{
    flex: 20%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.botoesAgendamentos div{
    border: black 2px solid;
    border-radius: 10px;
    width: 250px;
    height: 70px;
    font-size: 19px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #004A8D;
    color: white;
}


.reserva{
    width: 80%;
    text-align: center;
    border-radius: 10px;
    /* padding: 1px 5px; */
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.rManha{
    background-color: rgb(217, 217, 0);
    background-color: #fbad18;
    /* color: black; */
}

.rTarde{
    background-color: #D86700;
}

.rNoite{
    background-color: #004A8D;
}