:root {
    --AZUL: #004A8D;
    --LARANJA: #F7941D;
    --BORDA: #B0BCCB;
    --CINZA-CAIXA: #e0e6ed;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: mont; */
    /* font-family: go; */
    /* width: 100dvw; */
    /* height: 100dvh; */

}

a{
    text-decoration: none;
    color: none;
}

.containerApp{
    /* border: 1px solid green; */
    display: flex;
    width: 100dvw;
    height: 100dvh;
    /* overflow: hidden; */
}

nav{
    /* border: 1px solid black; */
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 100%;
    /* height: 200px; */
    padding: 30px 0;
    /* background-color: gold; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width: 80%;
    margin: 0 auto;
    /* height: 100%; */
}

ul{
    /* border: 1px solid orange; */
    flex: 1;
    overflow: auto;
}

li{
    /* border: 1px solid pink; */
    padding: 15px 0;
    padding-left: 30px;
    /* background-color: #ccc; */
    cursor: pointer;
    display: flex;
    gap: 15px;
    align-items: center;
}

li:hover{
    background-color: #edf2f6;
}

.funcionalidadeSelecionada{
    background-color: #edf2f6;
    border-right: 5px solid #F7941D;
}

li img{
    height: 60%;
    /* color: blue; */
}

li div{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}

.containerFuncionalidade{
    flex: 1;
    margin: 0 10px;
    margin-top: 10px; 
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.headerFuncionalidade{
    /* border: 1px solid green; */
    border-bottom: 3px solid #F7941D;
    /* height: 110px; */
    padding: 10px 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.perfileFuncionalidade{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid purple; */
    /* height: fit-content; */
}

.perfileFuncionalidade h2{
    color: #004A8D;
    /* border: 1px solid pink; */
    font-size: 34px;
}

.perfileFuncionalidade .perfil{
    display: flex;
    /* border: 1px solid red; */
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    /* width: auto; */
}

.perfil div{
    /* height: auto; */
    /* width: auto; */
    /* width: min-content; */
    white-space: nowrap;
    /* text-align: center; */
    flex-grow: 1;
    min-width: 0;
}

.perfil img{
    width: 45px;
    height: 45px;
}

.descricaoFuncionalidade{
    /* margin-top: auto; */
    /* border: 1px solid rebeccapurple; */
    color: #909090;
}

.funcionalidade{
    /* border: black 1px solid; */
    flex: 1;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

nav ul li img {
    width: 38px;
    height: 38px;
}

.funcionalidade ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 20%;
}

.funcionalidade{
    /* height: 550px; */
    /* border: 1px solid black; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    flex: 1;
    
}

.navbarSalas{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 50px;
    /* border: 1px solid black; */
    align-items: center;
}

.buscar{
    display: flex;
    height: 100%;
    /* border: 1px solid black; */
    align-items: center;
    gap: 10px;
}

.filtroSalas{
    border: none;
    background-color: none;
    background-color: #1168a7;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid var(--BORDA);
    cursor: pointer;
}

.filtroSalas:hover{
    background-color: #004A8D;
    color: white;
}

.barraBusca{
    height: 100%;
    /* border: 1px solid black; */
    /* padding: auto; */
    display: flex;
    border-radius: 2px;
    width: 280px;
}

.barraBusca input{
    height: 100%;
    border: none;
    background-color: none;
    border: 2px solid var(--BORDA);
    border-right: none;
    border-radius: 5px;
    padding-left: 10px;
    flex: 1;
    font-size: 18px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.barraBusca button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--BORDA);
    border-radius: 5px;
    height: 100%;
    width: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}

.criarSala{
    /* height: auto; */
    border: none;
    font-size: 19px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: 1px solid bl; */
    background-color: #1168a7;
    color: white;
    height: 100%;
    width: 180px;
    border: 2px solid var(--BORDA);
    /* padding: 0 20px; */
    border-radius: 10px;
    cursor: pointer;
}

.criarSala:hover{
    background-color: #004A8D;
    color: white;
}

.containerSalas{
    /* border: 1px solid black; */
    /* height: 100%; */
    padding: 0 35px;
    margin-top: 10px;
    flex: 1;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerSalas h2{
    color: black;

}

.salas{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    gap: 20px;
    max-height: 60dvh;
    border: 2px solid var(--BORDA);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--CINZA-CAIXA);
}

.sala{
    border: 1px solid var(--BORDA);
    border-radius: 10px;
    background-color: white;
    /* margin-bottom: 20px; */
    /* padding: 0 15px; */
}

.salaCard{
    flex-direction: row;
    display: flex;
    height: 100%;
    height: 70px;
    margin: 0 15px;
    gap: 35px;
}

.sala h4{
    /* border: 1px solid black; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.salaInfos{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 15px;
    justify-content: center;
    flex: 1;
    /* padding-left: 15px; */
}

.salaInfos div{
    display: flex;
}

.salaInfos div p{
    color: #808080;
}

.salaBtns{
    width: 100px;
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* padding: 10px 0; */
}

.salaBtns div{
    border: 1px solid var(--BORDA);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    /* flex: 1; */
}

.salaEditar{
    background-color: #1168a7;
    cursor: pointer;
}

.salaExcluir{
    background-color: red;
    cursor: pointer;
}

.funcionalidade ul li{
    border: var(--BORDA) 2px solid;
    border-radius: 10px;
    width: 250px;
    height: 45px;
    font-size: 19px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #004A8D;
    color: white;
    padding-left: 0px;
}

.TextMenu {
    font-weight: 600;
    color: var(--AZUL);
}

