:root {
    --AZUL: #004A8D;
    --LARANJA: #F7941D;
    --BORDA: #B0BCCB;
    --CINZA-CAIXA: #e0e6ed;
    
}
*{
    font-family: "Poppins", sans-serif;
}

.funcionalidade ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 20%;
}

.funcionalidade{
    /* height: 550px; */
    /* border: 1px solid black; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    flex: 1;
    
}

.navbarUsuarios{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 50px;
    /* border: 1px solid black; */
    align-items: center;
}

.usuarioInfos div{
    gap: 10px;
}

.buscar{
    display: flex;
    height: 100%;
    /* border: 1px solid black; */
    align-items: center;
    gap: 10px;
}

.filtrousuarios{
    border: none;
    background-color: none;
    background-color: #1168a7;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid var(--BORDA);
    cursor: pointer;
}

.filtrousuarios:hover{
    background-color: #004A8D;
    color: white;
}

.barraBusca{
    height: 100%;
    /* border: 1px solid black; */
    /* padding: auto; */
    display: flex;
    border-radius: 2px;
    width: 280px;
}

.barraBusca input{
    height: 100%;
    border: none;
    background-color: none;
    border: 2px solid var(--BORDA);
    border-right: none;
    border-radius: 5px;
    padding-left: 10px;
    flex: 1;
    font-size: 18px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.barraBusca button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--BORDA);
    border-radius: 5px;
    height: 100%;
    width: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}

.criarUsuario{
    /* height: auto; */
    border: none;
    font-size: 19px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: 1px solid bl; */
    background-color: #1168a7;
    color: white;
    height: 100%;
    width: 180px;
    border: 2px solid var(--BORDA);
    /* padding: 0 20px; */
    border-radius: 10px;
    cursor: pointer;
}

.criarusuario:hover{
    background-color: #004A8D;
    color: white;
}

.containerUsuarios{
    /* border: 1px solid black; */
    /* height: 100%; */
    padding: 0 35px;
    margin-top: 10px;
    flex: 1;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerusuarios h2{
    color: black;

}

.usuarios{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    gap: 20px;
    max-height: 60dvh;
    border: 2px solid var(--BORDA);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--CINZA-CAIXA);
}

.usuario{
    border: 1px solid var(--BORDA);
    border-radius: 10px;
    background-color: white;
    /* margin-bottom: 20px; */
    /* padding: 0 15px; */
}

.usuarioCard{
    flex-direction: row;
    display: flex;
    height: 100%;
    height: 70px;
    margin: 0 15px;
    gap: 35px;
}

.usuario h4{
    /* border: 1px solid black; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.usuarioInfos{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 15px;
    justify-content: center;
    flex: 1;
    /* padding-left: 15px; */
}

.usuarioInfos div{
    display: flex;
}

.usuarioInfos div p{
    color: #808080;
}

.usuarioBtns{
    width: 100px;
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* padding: 10px 0; */
}

.usuarioBtns div{
    border: 1px solid var(--BORDA);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    /* flex: 1; */
}

.usuarioEditar{
    background-color: #1168a7;
    cursor: pointer;
}

.usuarioExcluir{
    background-color: red;
    cursor: pointer;
}

.funcionalidade ul li{
    border: var(--BORDA) 2px solid;
    border-radius: 10px;
    width: 250px;
    height: 45px;
    font-size: 19px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #004A8D;
    color: white;
    padding-left: 0px;
}

